* {
    text-align: center;
}

input {
    border-radius: 5px;
    padding: 8px;
    width: 230px;
    margin-bottom: 5px;
}

.boton {
    background-color: #00594c;
    font-weight: bold;
    border-width: 0px;
    color: #fff;
    border-radius: 10px;
    padding: 12px;
    align-self: center;
    margin-bottom: 30px;
}

#result {
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 30px;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 30px;
    padding: 15px;
    color: white;
    display: none;
}
