* {
    text-align: center;
}

input {
    border-radius: 5px;
    padding: 8px;
    width: 230px;
    border-width: 1.5px;
    margin-bottom: 10px;
}

.boton {
    background-color: #00594c;
    font-weight: bold;
    border-width: 0px;
    color: #fff;
    border-radius: 10px;
    padding: 12px;
    align-self: center;
    margin-bottom: 30px;
}

#result {
    padding: 15px;
    border-radius: 15px;
    color: white;
    justify-content: center;
    font-size: 12px;
    margin: auto;
    width: 400px;
    display: none;
}